.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle, #000000, #5a2360, #ff99cc);
}

.page {
  display: flex;
  justify-content: space-between;
  width: 650px;
  height: 55%;
  background-color: #333333;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(100, 0, 100, 0.5);
}

.form {
  font-family: Arial, sans-serif;
  color: #ffffff;
}

.section {
  margin-bottom: 20px;
}

.section-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.input-text,
.color-picker,
.dropdown {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

.color {
  display: flex;
  align-items: center;
}

.title-wrapper {
  width: 80%;
}

.color-picker-wrapper {
  flex: 1;
}

.color-picker {
  background-color: transparent;
}

.submit-button {
  padding: 10px 20px;
  background-color: #5a2360;
  margin-top: 20px;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: Arial, sans-serif;
}

.submit-button:hover {
  background-color: #8c3a85;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;

  &:hover {
    background-color: #5a2360;
  }
}

.preview {
  margin-top: 5px;
}

.preview-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 2px;
}

.video-player,
.image-preview {
  width: 100%;
  height: 90%;
  margin-top: 10px;
}

.d-none {
  display: none;
}

:host ::ng-deep {
  .p-dropdown {
    width: 95%;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;

    .p-dropdown-label {
      display: flex;
      align-items: center;
      font-size: 16px;
    }
  }

  .p-dropdown-items {
    background-color: #484848;
    font-size: 16px;
    padding: 10px;

    li {
      padding: 5px;
    }

    :not(:last-child) {
      li {
        border-bottom: 1px solid #dddddd;
      }
    }
  }
}

.loader {
  display: flex;
  align-items: center;
  margin-right: 100px;
}

/* Hide the default file input */
input[type="file"] {
  display: none;
}

/* Style the custom file input container */
.file-input-container {
  display: inline-block;
  position: relative;
  margin-top: 10px;
}

/* Style the custom file input button */
.file-input-button {
  background-color: #4CAF50; /* Green */
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

/* Style the file input label */
.file-input-label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  cursor: pointer;
  z-index: 1;
}

@media (max-width: 768px) {
  .page {
    height: 65%;
  }

  .section {
    margin-bottom: 0;
  }

  .section-title {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  :host ::ng-deep {
    .p-dropdown {
      width: 75%;
      font-size: 13px;
      padding-left: 0;
      padding-right: 0;

      .p-dropdown-label {
        font-size: 13px;
      }
    }

    .p-dropdown-items {
      font-size: 13px;
    }
  }

  .image-preview {
    width: 100%;
    height: 80%;
    margin-top: 40px;
  }

  .dropdown {
    padding: 5px;
    margin-bottom: 7px;
  }
}
